.footerDiv{
    background-color: #26567B;
    height: 357px;
    display: flex;
    margin-top: 100px
    ;
}


.footerImgDiv{
    border-right: 1px solid white;
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footerTxtDiv{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}